<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>outro</title>
	
	
</head>
<body>
<h1>steam machine</h1>
<p>click to call<p>

 
 <img id="image" onclick="on();" src="maquina.png">
 <script>
	
	  function on(){
	    
		   document.getElementById("image").src="maquina.gif";
		   
	  
	  
	  }
	  function off(){
	    
	        document.getElementById("image").src="maquina.png";
	      
	  
	  }
	
	</script>
 
 
</body>
</html>